.name {
  text-align: center;
  border: none;
  box-shadow: -4px 1px 21px 3px rgb(221, 221, 221);  
}

.name h1 {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(92, 0, 0);
  font-weight: bold;
}

p{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);    
}

.card-img{
    height: 470px;    
}

.col-first{
  margin-right: 3rem;
}

.row-col h5{
  color: rgb(92, 0, 0);
}

@media (max-width: 768px) {}