.name {
  text-align: center;
  border: none;
  box-shadow: -4px 1px 21px 3px rgb(221, 221, 221);  
  border-radius: 5px;
}

h4 {
  color: rgb(92, 0, 0);
  font-weight: bold;
}

p{
    text-align: justify;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);    
    font-size: 14px;
}

.height h4{
  font-size: 20px;
}

.height h5{
  font-size: 17px;
}

.card-img{
    height: 470px;    
}

.col-first{
  margin-right: 5rem;
}

.height{
 height: 380px;
}

@media (max-width: 768px) {
  .name h2, h4 {
    font-size: 16px;
  }
  .height h5{
    font-size: 12px;
  }
  .col-first h4, .col-second h4{
  font-size: 12px;
}

.col-first p, span, .col-second p{
  font-size: 10px;
}
.height{
  height: 550px;
 }
}


@media (max-width: 360px) {

  .name{
    width: 80%;
  }

  .name h2, h4 {
    font-size: 12px;
  }

.col-first h4,  h5, .col-second h4{
  font-size: 10px;
}

.col-first p, span, .col-second p{
  font-size: 10px;
}
.height{
  height: 650px;
 }
}
